<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <!-- totally forgot how to use boostrap while I was making this page since we didnt use it for a year so there was a lot of sweating with margins...
     but I decided to leave it as it is since it doesnt look too bad-->
    <div id="block1">
        <h1>Artem Bessonov</h1>
        <div class="row justify-content-md-center mt-4">
          <div class="col-sm-6 catimgclass">
                <img src="images/face.jpg" class="rounded border border-4 border-danger catimg" alt="cat">
                    <div class="catoverlay">
                     <div class="cattitle"></div>
                        <p class="catdesc">
                          *Looking reliable*
                         </p>
            </div></a>
            </div>
            <div class="col-sm-6 mt-5" style="color: black;">
        <p class="fw-bold aboutText h5">FUTURE SOFTWARE DEVELOPER</p>
        <a class="fw-bold aboutref text-dark" href="mailto:besson0111@gmail.com"><i class="fas fa-envelope-square"></i>besson0111@gmail.com</a>
        <p class="fw-bold aboutloc pt-2"><i class="fas fa-map-pin"></i>Barrie, ON</p>
    <a class = "linkedin" href="https://www.linkedin.com/in/artem-bessonov-780897200/"><i class="fab fa-linkedin" style="font-size:64px;margin-top:5px;"></i></a>
    <a class = "github" href="https://github.com/Kapitos228"><i class="fab fa-github-square" style="font-size:64px; margin-left:10px; margin-top:5px;"></i></a>
            <p class="fw-bold aboutinfo mt-3 h5">Major skills: Java, C#, .NET Frameworks, C++, Linux, HTML, CSS, JS, Node.JS, PHP, COBOL, PL/I, REXX, JCL, C, Swift, Android Development</p>
            </div>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
