<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="block1">
        <h1>Artem Bessonov</h1>
        <img src="/images/logo.jpg" class="catme">
        <p class="aboutText">NOT THE BIGGEST FAN OF WEB DEVELOPMENT</p>
        <a class="aboutref" href="mailto:besson0111@gmail.com"><i class="fas fa-envelope-square"></i>besson0111@gmail.com</a>
        <p class="aboutloc"><i class="fas fa-map-pin"></i>Barrie, ON</p>
    <a class = "linkedin" href="https://www.linkedin.com/in/artem-bessonov-780897200/"><i class="fab fa-linkedin" style="font-size:64px; margin-left:50px; margin-top:30px;"></i></a>
    <a class = "github" href="https://github.com/Kapitos228"><i class="fab fa-github-square" style="font-size:64px; margin-left:30px; margin-top:30px;"></i></a>
    </div>
    {{{body}}}
  </body>
</html>
