<!DOCTYPE html>
<html>
  <head>
      <!-- Source: https://www.jsdelivr.com/-->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
      <script src="/javascripts/contact.js"></script>
  </head>
  <body>
    <div id="block1">
        <h1>Greetings!</h1>
        <div class="d-flex align-items-center flex-column">
            <p class="p-2" id="mainp">Welcome to my portfolio website. My name is Artem Bessonov, currently I study computer programming in Georgian College.</p>
            <img src="images/pcat.gif" class="rounded border border-4 border-danger" style="width: 30%;">
        </div>
    </div>
    {{{body}}}
  </body>
</html>
