<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       	<div class ="container">
	<img alt="d" src="/images/logo.jpg" class="logo">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="aboutMe">About Me</a></li>
				<li><a href="projects">Projects</a></li>
				<li><a href="contact">Contact Me</a></li>
			</ul>
		</nav>
	</div>
	</header>
    {{{body}}}
  </body>
</html>
