<!DOCTYPE html>
<html>
  <head>
      <!-- Source: https://www.jsdelivr.com/-->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
      <script src="/javascripts/contact.js"></script>
  </head>
  <body>
    <div id="block1">
        <h1>My Projects</h1>
        <div class="d-flex justify-content-around p-5">
            <div class="proj">
                <img src="images/proj2.jpg" class="rounded border border-4 border-danger projimg" alt="proj2s">
                    <a href="https://github.com/Kapitos228/TestYourLuck"><div class="projoverlay">
                     <div class="projtitle">TestYourLuck</div>
                        <p class="projdesc">
                        Get a random number in 3 differen ways.
                         </p>
            </div></a>
            </div>
        <div class="proj">
                <img src="images/proj1.jpg" class="rounded border border-4 border-danger projimg" alt="proj1s">
                <a href="https://pcbuilderonline.azurewebsites.net/"><div class="projoverlay">
                    <div class="projtitle">PCBuilderOnline</div>
                    <p class="projdesc">
                        Build your custom PC.
                    </p>
                </div></a>
            </div>
        <div class="proj">
               <img src="images/proj3.jpg" class="rounded border border-4 border-danger projimg" alt="proj3s">
                <a href="https://github.com/Kapitos228/C-"><div class="projoverlay">
                    <div class="projtitle">StudentLoginFrom</div>
                    <p class="projdesc">
                       One of many projects that is privat due to college rules.
                    </p>
                </div></a>
            </div>
</div>
    </div>
    {{{body}}}
  </body>
</html>
